<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Классификация текста</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Классификация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О проекте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/model">Модель</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="container">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Возвращает json<br>Можно скормить пример модельке<br>"друга рвать, девушку бить, брата стрелять, маму казнить"</span>
        </div>
        <form method="post">
            <textarea style="width:400px; height:86px;" name="text" class="form-control"></textarea>
            <input name="predict" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
        </form>
    </div>
</div>
<div class="container">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</div>
<!-- Modal --><!--
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>Текст</label>
                <input type="text" name="text" id="text" class="form-control" disabled/>
                <br/>
                <label>Класс</label>
                <input type="text" name="class" id="class" class="form-control" disabled/>
                <br/>
                <label>Леммы</label>
                <input type="text" name="lemmas" id="lemmas" class="form-control" disabled/>
                <br/>
                <label>Скоры</label>
                <input type="text" name="scores" id="scores" class="form-control" disabled/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->

<script src="/static/js/jquery-3.6.0.slim.js"></script>
<script src="/static/js/modal.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</html>