<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Классификация текста</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Классификация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">О проекте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/model">Модель</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

<div class="container">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Можно скормить пример модельке,<br>если трудно что-то придумать<br>"друга рвать, девушку бить, брата стрелять, маму казнить"</span>
        </div>
        <form method="post">
            <div class="row">
                <div style="width: 133%;" class="col">
                    <textarea placeholder="{% if message %} {{message['text']}} {% endif %}" name="text"></textarea>
                </div>
                <div class="col">
                    <input name="predict" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    {% if message %}
    <p>{{ "Текст: " + message['text'] }}</p>
    <p>{{ message['class'] }}</p>
    <p>{{ message['lemmas'] }}</p>
    <p>{{ "Cкоры:" }}</p>
    <p>{{ message['scores_normal'] }}</p>
    <p>{{ message['scores_insult'] }}</p>
    <p>{{ message['scores_threat'] }}</p>
    <p>{{ message['scores_obscenity'] }}</p>
    {% endif %}
</div>

<script src="/static/js/jquery-3.6.0.slim.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</html>